{% extends "Header.html" %}

{% block Content %}

    <h2 class="mb-4"><i class="mdi mdi-link-variant "></i> Suggestions</h2> 

    {% if suggRequest %}

        <div class="row">

        {% for suggReq in suggRequest %}

            <div class="col-md-6 grid-margin stretch-card border p-3 m-0">
                <div class="preview-item">
                        <h6 class="preview-subject">{{suggReq.fromUser}} suggest you to take the task with number: <y class="text-success">{{ suggReq.task.id }}</y></h6>
                        <h6>Team: <y class="text-success">{{ suggReq.task.project.team }}</y></h6>
                        <h6>Project: <y class="text-success">{{ suggReq.task.project }}</y></h6>
                        <div>
                            <a href="/applySuggestion/{{suggReq.id}}" class="me-3">
                                <i class="mdi mdi-checkbox-marked-circle-outline" style="font-size: 25px;"></i>
                            </a>
                            <a href="/rejectSuggestion/{{suggReq.id}}"><i class="mdi mdi-close-circle-outline" style="font-size: 25px;"></i></a>                                    
                        </div>
                </div>
            </div>


    {% endfor %}
</div>
    {% else %}
    <center><h3 class="text-muted m-3 p-3" style="height: 450px;">No suggestions</h3></center>
    {%endif%}
        


{% endblock %}



