{% extends "Header.html" %}

{% block Content %}

<div class="row mb-3">
    <div class="col-md-12 grid-margin stretch-card flex-grow d-flex align-items-stretch">
        <h2><i class="mdi mdi-google-circles-extended"></i> My Teams</h2>
        <div class="w-50 ms-auto">

        <form action="/myTeamSearch" method="POST" class="ms-auto mt-2">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Search for team" id="search" name="search" required>
        </form>

        </div>     
    </div>

</div>

{% for team in teams %}


<div class="row">
    <div class="col-md-4 grid-margin stretch-card">

            <div class="card">

            <div class="card-body p-0 m-0">
                <center>
                    <div style="width: 100%;height: 290px;background: url('../{{team.photo}}');background-position: center;background-size: cover;"></div>
                </center>
            </div>

            </div>
     
    </div>
    <div class="col-md-8 grid-margin stretch-card">

        <div class="card">

          <div class="card-body p-2 m-2">
            <h5 class="text mb-1">{{ team.title }}</h5>
            <p class="text-muted mb-1">{{ team.short }}</p>
            <br>
            <h5><i class="mdi mdi-calendar-text"></i> Description</h5>
            <p>{{ team.description }}</p>
          </div>

        </div>
     
    </div>
 </div>
<hr>
{% endfor %}



{% endblock %}