{% extends "HomePage.html" %}

{% block HomeContent %}
{% load static %}

<div class="container border border-5 border-top-0 border-bottom-0 p-5 card bg-light" style="width: 70%;">
    
    <center>
            <img style="border-radius: 10px;opacity: 80%;" src="{% static 'img/Main/Team.jpg' %}" class="d-block w-50" alt="Canyon at Nigh"/>

            <br>
            <div class="d-flex align-items-center justify-content-center">
            <a class="nav-link btn btn-primary btn-lg  m-3"  href="/toJoinTeam" style="color: white;">
                <i class="fas fa-user fa-fw me-3"></i><span>Join Team</span>
            </a>
            <a class="nav-link btn btn-primary btn-lg  m-3"  href="/toCreateTeam" style="color: white;">
                <i class="fas fa-user fa-fw me-3"></i><span>Create Team</span>
            </a>
           </div>
    </center>
    
</div>

{%endblock%}