{% extends "auth/Auth_Layout.html" %}

{% block AuthContent %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->

		
	
  	 	<h2 class="font-weight-bold mt-3"><i class="fas fa-shield-alt"></i> Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-outline-primary my-3" type="submit">Send email</button>
            <p class="sign-up m-2">Already have an Account?<a href="/login" > Login</a></p>                
		</form>


{% endblock %}