{% extends "Project/ProjectPage.html" %}


{% block TeamContent %}
<p class="text-muted"><a href="/toViewTeam/{{team.id}}">{{ team.title }}</a> / {{ project.title }}</p><hr>

<!-- Change photo Modal -->
<div class="modal fade" id="AddProjectMember">
  <div class="modal-dialog modal-dialog-centered model-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add project member</h4>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"><i class="mdi mdi-close"></i></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <form action="/addProjectMember/{{project.id}}" class="was-validated" method="post">
          {% csrf_token %}
          
          <div class="form-group">
            
            <select class="js-example-basic-single" style="width:100%" name="username" required>
              {% for person in team.members.all %}
              
                {% if person not in project.members.all %}
                <option>{{ person.owner.username }}</option>
                {% endif %}

              {% endfor %}
            </select>  
             
            </div>       

            <button type="submit" class="btn btn-primary btn-block enter-btn mt-3">Add</button>
          </form>


      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Change Project Leader Modal -->
<div class="modal fade" id="ChangeProjectLeader">
  <div class="modal-dialog modal-dialog-centered model-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change project leader to</h4>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"><i class="mdi mdi-close"></i></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <form action="/changeProjectLeader/{{project.id}}" class="was-validated" method="post">
          {% csrf_token %}
          
          <div class="form-group">
            
            <select class="js-example-basic-single" style="width:100%" name="newProjectLeader" required>
              {% for person in project.members.all %}
                {% if person != project.projectLeader %}
                <option>{{ person.owner.username }}</option>
                {% endif %}
              {% endfor %}
            </select>  
             
            </div>       

            <button type="submit" class="btn btn-primary btn-block enter-btn mt-3">Change</button>
          </form>


      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<div class="d-md-block d-xl-flex mb-3">


<div class="ms-auto">
  {% if myProfile == team.leader %}
  <div class="d-flex d-md-block d-xl-flex">
    {% if project.progress == '100.0%' %}
      <button type="button" onclick="projectFinish()" class="btn btn-outline-success me-2">Finish The Project</button>
    {% else %}
    <button type="button" class="btn btn-outline-success me-2" disabled>Finish Project</button>
    {% endif %}
  <button type="button" onclick="projectDelete()" class="btn btn-outline-danger ms-auto">Cancel Project</button>
</div>
  {% endif %} 
  
</div>

</div>



<div class="card">
  
  <div class="card-body">

      
      <div class="d-flex d-md-block d-xl-flex mb-0 justify-content-between">

        <h3 class="mb-0"><i class="mdi mdi-text"></i> Details</h3>
        
        {% if myProfile == project.projectLeader %}
          <p class="text-success">Project Leader</p>
        {% else %}
          <p class="text-muted">Member</p>
        {% endif %} 
      
      </div>
      <hr>
      <h6 class="mb-1">Description:</h6>
      <p class="text-muted mb-3">{{project.description}}</p>
      <p>Deadline: <y class="text-success">{{ project.deadLine }}</y></p>
      <p>Days Left: 
        {% if project.days_left < 0 %}
        <y class="text-danger me-3">{{ project.days_left }}</y>
          <i class="fas fa-exclamation-circle text-danger me-1"></i><y class="text-danger">Project out of date</y>
        {% elif project.days_left <= 10 and project.days_left > 0 %}
        <y class="text-warning">{{ project.days_left }}</y>
        {% else %}
        <y class="text-success">{{ project.days_left }}</y>
        {% endif %}
      </p>
      <p>Members: <y class="text-success">{{ project.members.all.count }}</y></p>
      {% if myProfile == team.leader %}
        <button type="button" href="#" data-bs-toggle="modal" data-bs-target="#AddProjectMember" class="btn btn-outline-primary mb-2"><i class="mdi mdi-plus m-0 p-0"></i> Add Project Member</button>
        <button type="button" href="#" data-bs-toggle="modal" data-bs-target="#ChangeProjectLeader" class="btn btn-outline-primary mb-2 ms-auto"><i class="mdi mdi-autorenew m-0 p-0"></i> Change Project Leader</button>
      {% elif myProfile == project.projectLeader %}   
        <button type="button" href="#" data-bs-toggle="modal" data-bs-target="#AddProjectMember" class="btn btn-outline-primary">Add Project Member</button>
      {% endif %}
    </div>
  </div>



<br><br>
<div class="card">
  <div class="card-body">
    <h3 class="mb-3"><i class="mdi mdi-clock"></i> Progress</h3>
    <hr>
    <div class="progress progress-md portfolio-progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{project.progress}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.progress}}</div>
    </div>
  </div>
</div>


<br><br>
<div class="row">


<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between">
        <h4 class="card-title mb-1"><i class="fas fa-stream"></i> Tasks Overview</h4>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
           <div class="preview-list">
              <div class="preview-item border-bottom">
                 <div class="preview-thumbnail">
                   #
                 </div>
                 <div class="preview-item-content d-sm-flex flex-grow">
                   <div class="flex-grow">
                     <h6 class="preview-subject">Completed Tasks</h6>
                   </div>
                   <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                     <p class="text-success">{{ project.tasks }}</p>
                     
                   </div>
                 </div>
              
               </div>
               <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  #
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">In-Progress Tasks</h6>
                  </div>
                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                    <p class="text-success">{{ inprogress_tasks }}</p>
                    
                  </div>
                </div>
             
              </div>
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  #
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">Outdated Tasks</h6>
                  </div>
                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                    <p class="text-success">{{ project.o_tasks }}</p>
                    
                  </div>
                </div>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">

  
<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-3"><i class="mdi mdi-message-text"></i> Latest Actively Members</h4>
    <hr>

    {% if active_users %}
    <div class="row">
        <div class="preview-list">

            {% for person in active_users %}
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">

                    <img src="../{{person.photo}}" alt="image" class="rounded-circle" />

                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">{{person.owner.username}}</h6>
                    <p class="text-muted mb-0">{{person.role}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
      {% else %}
      <center><h5 class="mb-5 mt-4 text-muted">-- Empty --</h5></center>

      {% endif %}
  </div>
</div>
</div>
</div>

<script>
  function projectDelete(){
    if (confirm("Are you sure?") == true) {
     window.location.href = "/projectDelete/"+"{{project.id}}";
    }   
  }
  function projectFinish(){
    if (confirm("Are you sure?") == true){
     window.location.href = "/finishProject/"+"{{project.id}}";
    }   
  }
</script>

{% endblock %}



